body{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

section{
  background-color: darkslategray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper{
  width: 75%;
  height: 350px;
  position: relative;
}

#prev{
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  left: -40px;
  top: 45%;
  position: absolute;
  z-index: 1;
}

#next{
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  right: -46px;
  top: 45%;
  position: absolute;
}
.wrapper .carousel{
  display: flex;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  padding: 14px;
}


.carousel img{
  /* width: calc(100% / 2); */
  height: auto;
  margin-left: 18px;
  object-fit: cover;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 0.5rem;
}

.carousel img:first-child{
  margin-left: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 550px) {
  .carousel img{
    width: calc(100%)
  }
  
}